In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [6]:
df=pd.read_csv('telecom_churn.csv')

In [7]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [10]:
df_cat=df.select_dtypes(object)

In [11]:
df_cat.head()

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
0,7590-VHVEG,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,No
1,5575-GNVDE,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,1889.5,No
2,3668-QPYBK,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,108.15,Yes
3,7795-CFOCW,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),1840.75,No
4,9237-HQITU,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,151.65,Yes

In [12]:
df_num=df.select_dtypes(['float64','int64'])

In [13]:
df_num.head()

   SeniorCitizen  tenure  MonthlyCharges
0              0       1           29.85
1              0      34           56.95
2              0       2           53.85
3              0      45           42.30
4              0       2           70.70

In [14]:
df_cat["TotalCharges"].replace(' ',np.nan,inplace=True)

In [15]:
df_cat["TotalCharges"]=df_cat["TotalCharges"].astype("float")

In [16]:
df_cat["TotalCharges"].fillna(df_cat["TotalCharges"].mean(),inplace=True)

In [17]:
df_num["TotalCharges"]=df_cat["TotalCharges"]

In [18]:
df_cat.drop("TotalCharges",inplace=True,axis=1)

In [19]:
df_num.head()

   SeniorCitizen  tenure  MonthlyCharges  TotalCharges
0              0       1           29.85         29.85
1              0      34           56.95       1889.50
2              0       2           53.85        108.15
3              0      45           42.30       1840.75
4              0       2           70.70        151.65

In [20]:
df_cat.head()

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,7590-VHVEG,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,No
1,5575-GNVDE,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,No
2,3668-QPYBK,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,Yes
3,7795-CFOCW,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),No
4,9237-HQITU,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,Yes

In [21]:
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

In [22]:
df_cat.head()

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,5375,0,1,0,0,1,0,0,2,0,0,0,0,0,1,2,0
1,3962,1,0,0,1,0,0,2,0,2,0,0,0,1,0,3,0
2,2564,1,0,0,1,0,0,2,2,0,0,0,0,0,1,3,1
3,5535,1,0,0,0,1,0,2,0,2,2,0,0,1,0,0,0
4,6511,0,0,0,1,0,1,0,0,0,0,0,0,0,1,2,1

In [23]:
df_new=pd.concat([df_cat,df_num],axis=1)

In [24]:
df_new.head()

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn,SeniorCitizen,tenure,MonthlyCharges,TotalCharges
0,5375,0,1,0,0,1,0,0,2,0,...,0,0,0,1,2,0,0,1,29.85,29.85
1,3962,1,0,0,1,0,0,2,0,2,...,0,0,1,0,3,0,0,34,56.95,1889.50
2,2564,1,0,0,1,0,0,2,2,0,...,0,0,0,1,3,1,0,2,53.85,108.15
3,5535,1,0,0,0,1,0,2,0,2,...,0,0,1,0,0,0,0,45,42.30,1840.75
4,6511,0,0,0,1,0,1,0,0,0,...,0,0,0,1,2,1,0,2,70.70,151.65

In [25]:
X=df_new.drop('Churn',axis=1)
Y=df_new['Churn']

In [26]:
X.head()

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,SeniorCitizen,tenure,MonthlyCharges,TotalCharges
0,5375,0,1,0,0,1,0,0,2,0,0,0,0,0,1,2,0,1,29.85,29.85
1,3962,1,0,0,1,0,0,2,0,2,0,0,0,1,0,3,0,34,56.95,1889.50
2,2564,1,0,0,1,0,0,2,2,0,0,0,0,0,1,3,0,2,53.85,108.15
3,5535,1,0,0,0,1,0,2,0,2,2,0,0,1,0,0,0,45,42.30,1840.75
4,6511,0,0,0,1,0,1,0,0,0,0,0,0,0,1,2,0,2,70.70,151.65

In [27]:
Y.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int32

In [28]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [29]:
ss=StandardScaler()

In [30]:
X_train_ss=ss.fit_transform(X_train)
X_test_ss=ss.transform(X_test)

In [31]:
def create_model(model):
    model.fit(X_train_ss,Y_train)
    Y_pred=model.predict(X_test_ss)
    print(classification_report(Y_test,Y_pred))

In [32]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [33]:
create_model(lr)

              precision    recall  f1-score   support

           0       0.86      0.88      0.87      1585
           1       0.62      0.58      0.60       528

    accuracy                           0.81      2113
   macro avg       0.74      0.73      0.74      2113
weighted avg       0.80      0.81      0.80      2113

In [34]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()

In [35]:
create_model(dt)

              precision    recall  f1-score   support

           0       0.83      0.78      0.81      1585
           1       0.45      0.52      0.48       528

    accuracy                           0.72      2113
   macro avg       0.64      0.65      0.64      2113
weighted avg       0.74      0.72      0.73      2113

In [36]:
from sklearn.svm import LinearSVC

In [37]:
svm1=LinearSVC(random_state=1)
create_model(svm1)

              precision    recall  f1-score   support

           0       0.86      0.89      0.88      1585
           1       0.63      0.57      0.60       528

    accuracy                           0.81      2113
   macro avg       0.75      0.73      0.74      2113
weighted avg       0.80      0.81      0.81      2113

In [38]:
from sklearn.svm import SVC

In [39]:
svm2=SVC(random_state=1,kernel='poly')
svm3=SVC(random_state=1,kernel='rbf')

In [40]:
create_model(svm2)

              precision    recall  f1-score   support

           0       0.85      0.89      0.87      1585
           1       0.62      0.53      0.57       528

    accuracy                           0.80      2113
   macro avg       0.73      0.71      0.72      2113
weighted avg       0.79      0.80      0.80      2113

In [41]:
create_model(svm3)

              precision    recall  f1-score   support

           0       0.85      0.91      0.88      1585
           1       0.65      0.52      0.58       528

    accuracy                           0.81      2113
   macro avg       0.75      0.71      0.73      2113
weighted avg       0.80      0.81      0.80      2113

In [42]:
from sklearn.ensemble import AdaBoostClassifier

In [43]:
from sklearn.ensemble import GradientBoostingClassifier

In [44]:
from xgboost import XGBClassifier

In [45]:
ada=AdaBoostClassifier(n_estimators=100)
create_model(ada)

              precision    recall  f1-score   support

           0       0.86      0.90      0.88      1585
           1       0.65      0.57      0.61       528

    accuracy                           0.82      2113
   macro avg       0.76      0.73      0.74      2113
weighted avg       0.81      0.82      0.81      2113

In [46]:
gbc=GradientBoostingClassifier(n_estimators=100)
create_model(gbc)

              precision    recall  f1-score   support

           0       0.86      0.90      0.88      1585
           1       0.64      0.55      0.59       528

    accuracy                           0.81      2113
   macro avg       0.75      0.72      0.73      2113
weighted avg       0.80      0.81      0.80      2113

In [47]:
xgb=XGBClassifier(n_estimators=100,reg_alpha=1)
create_model(xgb)

              precision    recall  f1-score   support

           0       0.86      0.88      0.87      1585
           1       0.62      0.57      0.60       528

    accuracy                           0.81      2113
   macro avg       0.74      0.73      0.73      2113
weighted avg       0.80      0.81      0.80      2113

In [48]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB

In [49]:
gb=GaussianNB()
bb=BernoulliNB()

In [50]:
create_model(gb)

              precision    recall  f1-score   support

           0       0.91      0.76      0.83      1585
           1       0.52      0.77      0.62       528

    accuracy                           0.76      2113
   macro avg       0.71      0.77      0.72      2113
weighted avg       0.81      0.76      0.78      2113

In [51]:
create_model(bb)

              precision    recall  f1-score   support

           0       0.90      0.77      0.83      1585
           1       0.52      0.74      0.61       528

    accuracy                           0.77      2113
   macro avg       0.71      0.76      0.72      2113
weighted avg       0.81      0.77      0.78      2113

In [52]:
import math
math.sqrt(len(Y_test))

45.967379738244816

In [53]:
from sklearn.neighbors import KNeighborsClassifier

In [54]:
cls=KNeighborsClassifier(n_neighbors=46)

In [55]:
create_model(cls)

              precision    recall  f1-score   support

           0       0.85      0.87      0.86      1585
           1       0.59      0.55      0.57       528

    accuracy                           0.79      2113
   macro avg       0.72      0.71      0.72      2113
weighted avg       0.79      0.79      0.79      2113

In [56]:
from sklearn.ensemble import BaggingClassifier

In [57]:
bc1=BaggingClassifier(LogisticRegression(),n_estimators=10,max_samples=10,random_state=1)
bc2=BaggingClassifier(LogisticRegression(),n_estimators=10,max_samples=10,random_state=1,bootstrap=False)

In [58]:
create_model(bc1)

              precision    recall  f1-score   support

           0       0.75      1.00      0.86      1585
           1       0.00      0.00      0.00       528

    accuracy                           0.75      2113
   macro avg       0.37      0.50      0.43      2113
weighted avg       0.56      0.75      0.64      2113

In [59]:
create_model(bc2)

              precision    recall  f1-score   support

           0       0.75      1.00      0.86      1585
           1       0.00      0.00      0.00       528

    accuracy                           0.75      2113
   macro avg       0.37      0.50      0.43      2113
weighted avg       0.56      0.75      0.64      2113

In [60]:
from sklearn.ensemble import RandomForestClassifier

In [61]:
rfc=RandomForestClassifier()

In [62]:
create_model(rfc)

              precision    recall  f1-score   support

           0       0.86      0.90      0.88      1585
           1       0.66      0.56      0.60       528

    accuracy                           0.82      2113
   macro avg       0.76      0.73      0.74      2113
weighted avg       0.81      0.82      0.81      2113

In [63]:
#sampling

In [64]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler

In [65]:
rus=RandomUnderSampler()

In [66]:
X_rus,Y_rus=rus.fit_sample(X_train_ss,Y_train)

In [67]:
def create_model1(model):
    model.fit(X_rus,Y_rus)
    Y_pred1=model.predict(X_test_ss)
    print(classification_report(Y_test,Y_pred1))

In [68]:
from sklearn.linear_model import LogisticRegression 
lr=LogisticRegression()

In [69]:
create_model1(lr)

              precision    recall  f1-score   support

           0       0.92      0.73      0.81      1585
           1       0.50      0.82      0.62       528

    accuracy                           0.75      2113
   macro avg       0.71      0.77      0.72      2113
weighted avg       0.82      0.75      0.77      2113

In [70]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()

In [71]:
create_model1(dt)

              precision    recall  f1-score   support

           0       0.86      0.68      0.76      1585
           1       0.41      0.65      0.50       528

    accuracy                           0.68      2113
   macro avg       0.63      0.67      0.63      2113
weighted avg       0.74      0.68      0.70      2113

In [72]:
from sklearn.svm import LinearSVC
svc=LinearSVC(random_state=1)

In [73]:
create_model1(svc)

              precision    recall  f1-score   support

           0       0.93      0.72      0.81      1585
           1       0.49      0.83      0.62       528

    accuracy                           0.75      2113
   macro avg       0.71      0.77      0.71      2113
weighted avg       0.82      0.75      0.76      2113

In [74]:
from sklearn.svm import SVC
svc1=SVC(random_state=1,kernel="poly")
svc2=SVC(random_state=1,kernel="rbf")

In [75]:
create_model1(svc1)

              precision    recall  f1-score   support

           0       0.92      0.71      0.80      1585
           1       0.49      0.82      0.61       528

    accuracy                           0.74      2113
   macro avg       0.71      0.77      0.71      2113
weighted avg       0.81      0.74      0.76      2113

In [76]:
create_model1(svc2)

              precision    recall  f1-score   support

           0       0.92      0.72      0.81      1585
           1       0.49      0.82      0.61       528

    accuracy                           0.74      2113
   macro avg       0.70      0.77      0.71      2113
weighted avg       0.81      0.74      0.76      2113

In [77]:
from sklearn.ensemble import BaggingClassifier
bc=BaggingClassifier(LogisticRegression(),n_estimators=10,max_samples=10,random_state=1)
bc1=BaggingClassifier(LogisticRegression(),n_estimators=10,max_samples=10,random_state=1,bootstrap=False)

In [78]:
create_model1(bc)

              precision    recall  f1-score   support

           0       0.94      0.40      0.56      1585
           1       0.34      0.93      0.50       528

    accuracy                           0.53      2113
   macro avg       0.64      0.66      0.53      2113
weighted avg       0.79      0.53      0.55      2113

In [79]:
create_model1(bc1)

              precision    recall  f1-score   support

           0       0.94      0.40      0.56      1585
           1       0.34      0.93      0.50       528

    accuracy                           0.53      2113
   macro avg       0.64      0.66      0.53      2113
weighted avg       0.79      0.53      0.55      2113

In [80]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=10,random_state=1)

In [81]:
create_model1(rfc)

              precision    recall  f1-score   support

           0       0.90      0.76      0.82      1585
           1       0.51      0.75      0.61       528

    accuracy                           0.76      2113
   macro avg       0.70      0.76      0.71      2113
weighted avg       0.80      0.76      0.77      2113

In [82]:
ada=AdaBoostClassifier(n_estimators=100)
gbc=GradientBoostingClassifier(n_estimators=100)
xgb=XGBClassifier(n_estimators=100,reg_alpha=1)

In [83]:
create_model1(ada)

              precision    recall  f1-score   support

           0       0.92      0.72      0.81      1585
           1       0.49      0.82      0.61       528

    accuracy                           0.74      2113
   macro avg       0.71      0.77      0.71      2113
weighted avg       0.81      0.74      0.76      2113

In [84]:
create_model1(gbc)

              precision    recall  f1-score   support

           0       0.92      0.72      0.81      1585
           1       0.50      0.82      0.62       528

    accuracy                           0.75      2113
   macro avg       0.71      0.77      0.72      2113
weighted avg       0.82      0.75      0.76      2113

In [85]:
create_model1(xgb)

              precision    recall  f1-score   support

           0       0.91      0.72      0.80      1585
           1       0.48      0.79      0.60       528

    accuracy                           0.73      2113
   macro avg       0.70      0.75      0.70      2113
weighted avg       0.80      0.73      0.75      2113

In [86]:
gs=GaussianNB()
create_model1(gs)

              precision    recall  f1-score   support

           0       0.92      0.72      0.81      1585
           1       0.49      0.82      0.61       528

    accuracy                           0.74      2113
   macro avg       0.71      0.77      0.71      2113
weighted avg       0.81      0.74      0.76      2113

In [87]:
ros=RandomOverSampler()

In [88]:
X_ros,Y_ros=ros.fit_sample(X_train_ss,Y_train)

In [89]:
def create_model2(model):
    model.fit(X_ros,Y_ros)
    Y_pred2=model.predict(X_test_ss)
    print(classification_report(Y_test,Y_pred2))

In [90]:
lr=LogisticRegression()
create_model2(lr)

              precision    recall  f1-score   support

           0       0.92      0.73      0.81      1585
           1       0.50      0.81      0.62       528

    accuracy                           0.75      2113
   macro avg       0.71      0.77      0.72      2113
weighted avg       0.82      0.75      0.76      2113

In [91]:
dt=DecisionTreeClassifier()
create_model2(dt)

              precision    recall  f1-score   support

           0       0.83      0.81      0.82      1585
           1       0.46      0.50      0.48       528

    accuracy                           0.73      2113
   macro avg       0.64      0.65      0.65      2113
weighted avg       0.74      0.73      0.73      2113

In [92]:
svc=LinearSVC(random_state=1)
create_model2(svc)

              precision    recall  f1-score   support

           0       0.93      0.72      0.81      1585
           1       0.50      0.83      0.62       528

    accuracy                           0.75      2113
   macro avg       0.71      0.78      0.72      2113
weighted avg       0.82      0.75      0.77      2113

In [93]:
svc1=SVC(random_state=1,kernel="poly")
svc2=SVC(random_state=1,kernel="rbf")

In [94]:
create_model2(svc1)

              precision    recall  f1-score   support

           0       0.91      0.73      0.81      1585
           1       0.49      0.78      0.60       528

    accuracy                           0.74      2113
   macro avg       0.70      0.76      0.71      2113
weighted avg       0.80      0.74      0.76      2113

In [95]:
create_model2(svc2)

              precision    recall  f1-score   support

           0       0.91      0.75      0.82      1585
           1       0.50      0.77      0.61       528

    accuracy                           0.75      2113
   macro avg       0.71      0.76      0.72      2113
weighted avg       0.81      0.75      0.77      2113

In [96]:
gs=GaussianNB()
create_model2(gs)

              precision    recall  f1-score   support

           0       0.93      0.72      0.81      1585
           1       0.49      0.83      0.62       528

    accuracy                           0.75      2113
   macro avg       0.71      0.77      0.71      2113
weighted avg       0.82      0.75      0.76      2113

In [97]:
bc=BaggingClassifier(LogisticRegression(),n_estimators=10,max_samples=10,random_state=1)
bc1=BaggingClassifier(LogisticRegression(),n_estimators=10,max_samples=10,random_state=1,bootstrap=False)

In [98]:
create_model2(bc)

              precision    recall  f1-score   support

           0       0.93      0.65      0.77      1585
           1       0.45      0.86      0.59       528

    accuracy                           0.70      2113
   macro avg       0.69      0.75      0.68      2113
weighted avg       0.81      0.70      0.72      2113

In [99]:
create_model2(bc1)

              precision    recall  f1-score   support

           0       0.93      0.65      0.77      1585
           1       0.45      0.86      0.59       528

    accuracy                           0.70      2113
   macro avg       0.69      0.75      0.68      2113
weighted avg       0.81      0.70      0.72      2113

In [100]:
rf=RandomForestClassifier(random_state=1)
create_model2(rf)

              precision    recall  f1-score   support

           0       0.88      0.85      0.86      1585
           1       0.59      0.64      0.61       528

    accuracy                           0.80      2113
   macro avg       0.73      0.75      0.74      2113
weighted avg       0.81      0.80      0.80      2113

In [101]:
ada=AdaBoostClassifier(n_estimators=100)
gbc=GradientBoostingClassifier(n_estimators=100)
xgb=XGBClassifier(n_estimators=100,reg_alpha=1)

In [102]:
create_model2(ada)

              precision    recall  f1-score   support

           0       0.92      0.73      0.81      1585
           1       0.50      0.81      0.62       528

    accuracy                           0.75      2113
   macro avg       0.71      0.77      0.72      2113
weighted avg       0.81      0.75      0.76      2113

In [103]:
create_model2(gbc)

              precision    recall  f1-score   support

           0       0.92      0.74      0.82      1585
           1       0.50      0.80      0.62       528

    accuracy                           0.75      2113
   macro avg       0.71      0.77      0.72      2113
weighted avg       0.81      0.75      0.77      2113

In [104]:
create_model2(xgb)

              precision    recall  f1-score   support

           0       0.88      0.83      0.85      1585
           1       0.56      0.65      0.60       528

    accuracy                           0.78      2113
   macro avg       0.72      0.74      0.73      2113
weighted avg       0.80      0.78      0.79      2113